.loading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 1; /* Adjust this as needed */
  span {
    display: inline-block;
    margin: 0 -0.05em;
    background: linear-gradient(
      300deg,
      #ee0eeb,
      #0a9af0
    ); // Pink to blue gradient
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin background-clip-text($background) {
  background: $background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  @include background-clip-text(linear-gradient(to right, #db3b7e, #53ade5));
}

.loading01 {
  span {
    animation: loading01 1s infinite alternate;
    @for $i from 0 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading02 {
  span {
    animation: loading02 1.2s infinite alternate;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}
@keyframes loading02 {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
  }
}
