@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-section-outer {
  overflow: hidden;
}

input[type="text"] {
  background-color: #d9d9d9;
}

.label-and-text-field{
  margin-top:5%;
  margin-bottom:5%;
}

/*Changes the color of the account settings menu*/
.menu{
  background-color: #d9d9d9;
  margin:2%;
  height:80vh;
}

.menu li {
  color: #171717;
}

.setting-content{
  margin:2%;
}

